@font-face {
  font-family: LemonMilk;
  src: url(LemonMilkMedium-mLZYV.otf);
}

@font-face {
  font-family: Optima;
  src: url(optima.ttf);
}

* {box-sizing: border-box}

.nav{
  width:100%;
  background-color: #22223B;
  overflow: auto;
}

.nav a{
  float: left;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 2.5vw;
  width:25%;
  text-align: center;
}

.nav a:hover:not(.active){
  background-color: #4A4E69;
  cursor:pointer;
}

.active {
  background-color: #E1AD9D
}

@media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.responsive{
  width: 100%;
  height: auto;
}
.container{
  position: relative;
}

.container img {
  width: 100%;
  /* position: relative; */
}

.container .overlay {
  position: absolute;
  /*top: 80px;
  right: 15px;*/
  top: 70%;
  left: 67%;
  /* transform: translate(-50%, -50%); */

  font-weight: bold;
  font-family: LemonMilk;
  text-align: right;
  font-size: 4vw;
  letter-spacing: 1px;
  color: #F9F5EC;

  text-shadow:
		-0.5px -0.5px 0 #808080,
		0.5px -0.5px 0 #808080,
		-0.5px 0.5px 0 #808080,
		0.5px 0.5px 0 #808080;
}

.container .rectangle{
  /* position: absolute; */

  display:flex;
  flex-direction:column;
  text-align: center;
  align-items: center;
  justify-content:center;
  color:white;
  width: 40vw;
  height: 40vw;
  background: #9A8C98;


}

.container .left_rect{
  position: absolute;
  margin-left: 5%;
  top: 93%;
}

.container .right_rect{
  position: absolute;
  margin-left: 55%;
  top: 93%;
}
.container.p{
  position: relative;
}

.contact-box{
  margin-bottom: 5vw;
  font-size: 2vw;
}

.contact-box.logo{
  margin-top:5vw;
  height:2vw;
  filter: invert(100%) sepia(1%) saturate(4%) hue-rotate(234deg) brightness(104%) contrast(192%);
}

.contact-box.title{
  font-weight:600;
}

.contact-box.blurb{
  line-height: 3.5vw;
}

body{
  background-color: #f2e9e4;
  font-family: Optima;
  margin: 0px;
}
