.responsive{
  width: 100%;
  height: auto;
}

.example img {
  width: 100%;
  position: relative;
}

.example .overlay {
  position: absolute;
  top: 80px;
  right: 15px;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/

  font-weight: bold;
  text-align: right;
  font-size: 1vw;
}
